<h1>isaac.info</h1>
<div class="experience-page"> 
    <button class="terminal-button" (click)="toggleTerminal()"></button>
    <div class="shell-container" [ngClass]="{'active': showTerminal}">
        <app-shared-shell-layout></app-shared-shell-layout>
    </div>
    <div class="info-container" [ngClass]="{'active': showTerminal}">
        <h2>IbisGen</h2>
        <div class="location">Chicago, IL</div>
        <div class="position">Full Stack Developer Intern</div>
        <div class="dates">September 2023 - Present</div>
        <p>I am currently employed as a full stack intern at IbisGen - a generative AI startup based in Chicago. Thus far, I've primarily worked
            on the backend with TypeScript and SQL via Prisma DB to develop services that communicate with the database to track relevant data 
            from our users. Additionally, I've made some implementations to the frontend using HTML, Tailwind CSS, and TypeScript. I've also
            developed, tested, and used API endpoints with Nest.JS. Some additional skills I've learned or improved on through this internship 
            are Git, Docker, JavaScript Promises, RxJS Observables, Angular, Nx, Docker, LangChain, Prompt Engineering for LLMs.
        </p>
    </div>
</div>
