.history-entry {
    display: flex;
    flex-direction: column;
    font-family: 'Consolas', 'Monaco', 'Droid Sans Mono', 'Courier New', monospace;
}

.command-line {
    display: flex;
    align-items: center;
}

.output {
    font-family: 'Consolas', 'Monaco', 'Droid Sans Mono', 'Courier New', monospace;
    margin-bottom: 10px;
    align-items: center;
}
