.ps1 span {
  color: white;
  font-family: 'Consolas', 'Monaco', 'Droid Sans Mono', 'Courier New', monospace;
}

.ps1 .user {
  color: #edb75a;
  font-family: 'Consolas', 'Monaco', 'Droid Sans Mono', 'Courier New', monospace;
}

.ps1 .hostname {
  color: #c97f52;
  font-family: 'Consolas', 'Monaco', 'Droid Sans Mono', 'Courier New', monospace;
}