<h1>isaac.info</h1>
<div class="projects"> 
    <button class="terminal-button" (click)="toggleTerminal()"></button>
    <div class="shell-container" [ngClass]="{'active': showTerminal}">
        <app-shared-shell-layout></app-shared-shell-layout>
    </div>
    <div class="info-container" [ngClass]="{'active': showTerminal}">
        <h2>Image-to-ASCII Converter</h2>
        <div class="tags">(temp) TS</div>
        <p>I developed the image to ASCII converter at the beginning of this web project because I did not want the images on this website 
            to deviate from its terminal theme. This project is 100% coded in TypeScript primarily because I wanted its functionality to be
            easily incorporated into a website, but also because I wanted to familiarize myself with a different image library for this 
            project, as I had already used the PIL image library on Python for another of my projects. The code loads an image, resizes it to 
            a width passed as a parameter, and corrects its height to account for the characters being more rectangular than they are square. 
            The pixels in the corrected image are then looped through. Each pixel is converted to a brightness which is then used to select 
            a corresponding ASCII character. The selected ASCII character is then added to a string that is returned after each pixel has 
            been examined.
        </p>
        <h2>Moodboard Generator</h2>
        <div class="tags">(temp) Py</div>
        <p>I developed a moodboard generator after seeing a number of ironic moodboards on social media this summer (the example I typically
            give is an Abraham Lincoln Coquette Core board). This project is 100% Python and currently a work in progress. Upon completion, 
            the code will scrape images based on a string input. It will then use the PIL library to analyze the pixels from each image and
            determine average primary, secondary, and tertiary colors across all of the images. These colors will then be applied to the CSS 
            of an HTML template and also used to remove outlier images from the scrape results. Finally, images will be selected randomly from
            the remaining scrape results to be added to the HTML.
        </p>  
    </div>
</div>
