.input-container {
  display: flex;
  gap: 2px;
  font-family: 'Consolas', 'Monaco', 'Droid Sans Mono', 'Courier New', monospace;
}

.input-container label, .input-container input {
  flex-grow: 0;
  flex-shrink: 1;
}

.input-container input {
  flex-grow: 1;
  outline: none;
  background-color: #20111a;
  color: #796e68;
  border: none;
}