.sidebar {
    background-color: transparent;
    color: #edb75a;
    font-family: 'Courier New', monospace; /* Terminal-like font */
    padding-left: 1vw;
    padding-top: 1.75vh;
    height: 75vh;
    font-size: 25px;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar a {
    color: #958b83;
    text-decoration: none;
}

.sidebar a:hover {
    text-decoration: underline;
}

.sidebar ul ul {
    padding-left: 0.78vw;
}

.sidebar ul li {
    margin-bottom: 0.7vh;
}

.sidebar ul ul li:first-child::before {
    content: '├─';
    position: relative;
    left: -0.4vw;
}

.sidebar ul ul li:last-child::before {
    content: '└─';
    position: relative;
    left: -0.4vw;
}