.education-page {
    background-color: #11090e;
    height: 92svh;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.terminal-button {
    position: absolute;
    bottom: 20px;
    left: 20px;
    z-index: 100;
}

.info-container, .shell-container {
    transition: transform 0.5s;
    width: 33.33vw;
    height: 65vh;
    text-align: justify;
    display: flex;
    flex-direction: column;
}

.info-container {
    transform: translateX(0vw);
    max-height: 65%;
    overflow: auto;
}

.shell-container {
    background-color: #20111a;
    outline-style: solid;
    outline-color: #76636e;
    outline-width: 0.2vh;
    border-radius: 0.35vh;
    padding: 1.4vh;
    box-sizing: border-box;
    min-height: 33.33vh;
    max-height: 33.33vh;
    min-width: 33.33vw;
    max-width: 33.33vw;
    transform: translate(-45vw, -11.11vh);
}

.info-container.active {
    transform: translateX(22.2vw);
}

.shell-container.active {
    transform: translate(11.1vw, -11.11vh);
}

.terminal-button {
    position: absolute;
    margin-bottom: 4vh;
    margin-left: 2vw;
    width: calc(max(2vw, 4vh));
    height: calc(max(2vw, 4vh));
    background-color: #20111a;
    border-style: hidden;
    outline-style: solid;
    outline-color: #76636e;
    outline-width: 0.2vh;
    border-radius: 0.35vh;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #76636e;
    font-size: 1.5em;
    font-family: monospace;
}

.terminal-button:hover {
    background-color: #11090e;
    transition: background-color 0.75s;
}

.terminal-button:before {
    content: ">_";
    position: absolute;
    top: 15%;
    left: 15%;
    transform: translate(-10%, -10%);
}
