<h1>isaac.info</h1>
<div class="education-page"> 
    <button class="terminal-button" (click)="toggleTerminal()"></button>
    <div class="shell-container" [ngClass]="{'active': showTerminal}">
        <app-shared-shell-layout></app-shared-shell-layout>
    </div>
    <div class="info-container" [ngClass]="{'active': showTerminal}">
        <h2>The University of Chicago</h2>
        <div class="sub">Chicago, IL. Class of 2025</div>
        <p>I am currently a third year at the University of Chicago on track to graduate in Spring of 2025 with a B.A. in chemistry and a B.S. in 
            computer science with a specialization in machine learning. Some relevant classes I have completed in these fields are Honors General 
            Chemistry I, II, III; Organic Chemistry I, II, III; Physics I, II, III; Quantum Mechanics; Introduction to Computer Science I, II;
            Systems Programming I, II. 
        </p>
        <h2>East High School</h2>
        <div class="sub">Denver, CO. Class of 2021</div>
        <p>
            I graduated from East High School in Denver, CO with a 3.98/4.00 unweighted GPA and honors as a National Merit Semifinalist and an 
            AP Scholar with Distinction. Relevnat classes I took in high school include AP Chemistry; AP Physics C: Mechanics, Electricity and
            Magnetism; AP Calculus BC; AP Statistics; Calculus III (concurrent enrollment at CU Denver); AP Microeconomics; AP Macroeconomics; 
            AP Computer Science A.
        </p>  
    </div>
</div>
