.layout {
    display: flex;
    position: relative;
}

.sidebar {
    width: 12.5vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: -25vw;
    transition: left 0.3s;
    z-index: 100;
    margin-top: 6vh;
}

.sidebar.active {
    left: 1.2vw;
}

.view {
    width: 100vw;
    height: 100vh;
}

.menu-container {
    margin-top: 4vh;
    margin-left: 2vw;
    position: absolute;
    width: calc(max(2vw, 4vh));
    height: calc(max(2vw, 4vh));
    top: .6vh;
    left: .3vw;
    z-index: 200;
    cursor: pointer;
    background-color: #20111a;
    border-style: hidden;
    outline-style: solid;
    outline-color: #76636e;
    outline-width: .2vh;
    border-radius: .35vh;
}

.menu-container:hover {
    background-color: #11090e;
    transition: 0.75s;
}

.menu {
    width: 100%;
    height: 100%;
    margin: 1vh;
}

.menu line-container {
    width: 60%;
    height: 60%;
    margin: 20%;
    position: relative;
}

.menu span {
    background: #76636e;
    width: 65%;
    height: 5%;
    border-radius: 2.5%;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: transform 0.5s, width 0.5s;
}

.menu .top-line {
    transform: translate(-50%, -1vh);
}

.menu .bottom-line {
    transform: translate(-50%, .82vh);
}

.openmenu .top-line {
    transform: translate(-50%, -50%) rotate(-45deg);
}

.openmenu .bottom-line {
    transform: translate(-50%, -50%) rotate(45deg);
}

.openmenu .middle-line {
    width: 0;
}
