@font-face {
    font-family: 'CascadiaCode';
    src: url(/assets/fonts/CascadiaCode.ttf);
    display: swap;
  }
  
  * {
    font-family: 'CascadiaCode', monospace;
  }
  
  html,
  body,
  body > div:first-child,
  div#__next,
  div#__next > div {
    height: 100%;
    overflow: auto;
  }
  
  ::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
  
  ::-webkit-scrollbar-thumb {
    border-radius: 5px;
  }
  
  a {
    text-decoration: underline;
  }

body {
  margin: 0;
  padding: 0;
  background-color: #11090e;
  color: #958b83;
}

h1 {
  color: #958b83;
  font-family: 'Courier New', Courier, monospace;
  font-size: 48px;
  padding-top: 2.22vh;
  margin-bottom: 1.4vh;
  text-align: center;
}

h2 {
  color: #958b83;
  font-family: 'Courier New', Courier, monospace;
  font-size: 36px;
  margin-bottom: 1.4vh;
}