.homepage {
    background-color: #11090e;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    

    .shell-container {
        background-color: #20111a;
        width: 30vw;
        margin-top: 15vh;
        outline-style: solid;
        outline-color: #76636e;
        outline-width: 0.2vh;
        border-radius: 0.35vh;
        padding: 1.4vh;
        min-height: 35vh;
        max-height: 35vh;
        min-width: 35vw;
        max-width: 35vw;

        app-shared-shell {
            width: 100%;
        }
    }
}
