.homepage {
    background-color: #11090e;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 32px;

    h1 {
        color: #958b83;
        font-family: 'Courier New', Courier, monospace;
        font-size: 3rem;
        margin-bottom: 20px;
    }

    .shell-container {
        background-color: #20111a;
        width: 30vw;
        margin-top: 15vh;
        outline-style: solid;
        outline-color: #76636e;
        outline-width: 2px;
        border-radius: 5px;
        padding: 20px;
        min-height: 35vh;
        max-height: 35vh;
        min-width: 35vw;
        max-width: 35vw;

        app-shared-shell {
            width: 100%;
        }
    }
}
