<h1>isaac.info</h1>
<div class="about-page"> 
    <button class="terminal-button" (click)="toggleTerminal()"></button>
    <div class="shell-container" [ngClass]="{'active': showTerminal}">
        <app-shared-shell-layout></app-shared-shell-layout>
    </div>
    <div class="info-container" [ngClass]="{'active': showTerminal}">
        <h2>About</h2>
        <p>            
            Hi. I'm Isaac, a student and computer enthusiast from Denver, CO. My coding story in tech begins with Minecraft, which taught me the basics 
            of my first coding language in Java. Since then, my passion for coding (and also Minecraft) has only grown, resulting in the acquisition of 
            a number of coding frameworks and languages. When I'm not coding or doing a chemistry problem set, I enjoy playing and watching tennis, skiing, playing
            the cello, building computers, and drinking La Croix (only lemon or lime flavored).
        </p>
    </div>
</div>
